header {
  display: flex;
  justify-content: center;
  padding: 1rem 0;

  fieldset {
    display: flex;

    border: 1px solid black;
    border-radius: 1rem;
    overflow: clip;
    padding: 0;
    width: fit-content;

    &:focus-within {
      outline: 2px solid black;
    }

    svg {
      padding-inline: 0.5rem 0.25rem;
      width: 2rem;
    }

    input {
      font-size: 1.25rem;
      border: none;
      border-radius: 0 0.9rem 0.9rem 0;
      outline: none;
      padding: 0.25rem 0.5rem;
    }
  }

  #error-message {
    color: red;
    height: 1em;
    text-align: center;
  }
}

main {
  margin: 0 1rem;
}
